## Ejercicio 1

In [83]:
text = """Interesting facts about the Moon. The Moon is Earth's only satellite. There are several interesting facts about the Moon and how it affects life here on Earth. 
On average, the Moon moves 4cm away from the Earth every year. This yearly drift is not significant enough to cause immediate effects on Earth. The highest daylight temperature of the Moon is 127 C."""

In [86]:
##dividir texto
text.split('. ')

['Interesting facts about the Moon',
 "The Moon is Earth's only satellite",
 'There are several interesting facts about the Moon and how it affects life here on Earth',
 '\nOn average, the Moon moves 4cm away from the Earth every year',
 'This yearly drift is not significant enough to cause immediate effects on Earth',
 'The highest daylight temperature of the Moon is 127 C.']

In [94]:
#definir palabras
cadena = ['average', 'temperature', 'distance']

In [96]:
for line in text.split('.'):
    for a in cadena:
        #print(a)
        if line.find(a) > 0:
            print(line)

On average, the Moon moves 4cm away from the Earth every year
 The highest daylight temperature of the Moon is 127 C

In [97]:
##actyualizar celsius
for line in text.split('.'):
    for a in cadena:
        #print(a)
        if line.find(a) > 0:
            print(line.replace('C', 'Celsius'))

On average, the Moon moves 4cm away from the Earth every year
 The highest daylight temperature of the Moon is 127 Celsius

## ejercicio 2

In [2]:
# Datos con los que vas a trabajar
name = "Moon"
gravity = 0.00162 * 1000 # in kms
planet = "Earth"

In [17]:
title = f'gravity the {name} in the {planet}\n'

In [13]:
plantilla = f'-------------------------------\nPlanet Name: {planet} \nGravity on Ganymede: {gravity*100} m/s2'

In [25]:
unio_plantilla = title.title() + plantilla
print(unio_plantilla)

Gravity The Moon In The Earth
-------------------------------
Planet Name: Earth
Gravity on Ganymede: 162.0 m/s2

In [ ]:
planeta = 'Marte '
gravedad  = 0.00143
nombre = 'Gan√≠medes'

In [26]:
print(unio_plantilla)

Gravity The Moon In The Earth
-------------------------------
Planet Name: Earth
Gravity on Ganymede: 162.0 m/s2

In [32]:

nueva_plantilla = title.title() + plantilla
print(nueva_plantilla.format(name=nombre,planet=planeta,gravity=gravedad*1000))

Gravity The Moon In The Earth
-------------------------------
Planet Name: Earth
Gravity on Ganymede: 162.0 m/s2